#logo {
        display:flex;
        margin: auto;
        justify-content: center;
        max-width: 20vw;
}

#page  {
        display:flex;
        margin:auto;
        justify-content: center;
        align-items: center;
}
.text   {
    display:flex;
    margin:auto;
    justify-content: center;
    align-items: center;
}

#gamebanner {
    display:flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

#gamearea {
    display: flex;
    margin: 0vw 30vw;
    padding: 10vw;
}

#weapons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.handImg {
    max-width: 20vw;
    border: 3px double black;
}

.touched {
    border: 4px double green;
    padding: 2px;
    background-color: red;
}

#userPlay {
    max-width: 15vw;
}

#PCPlay {
    max-width: 15vw;
    transform: rotate(180deg)
}

#resultArea {
    display:flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#endGame {
    display:flex;
    margin:auto;
    justify-content: center;
    align-items: center;
}